.App {
  background-color: white;
  background-image: url('http://cdn.wallpaperhi.com/1920x1080/20130328/humor%20police%20horses%20zebras%20criminal%20simple%201920x1080%20wallpaper_www.wallpaperhi.com_97.jpg');
  background-size: 100vh;
  background-repeat: repeat;
  opacity: 0.9;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black
};

.login-form {
  border: 1px solid black;
  border-radius: 5px;
};

.login-card {
  border: 1px solid black;
  border-radius: 5px;
}

.homescreen_header {
  font-style: oblique;
  background-color:orange;
}

.homescreen_about {
  min-height: 150px;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 8px;
}

.homescreen_cards {
  display: flex;
  justify-content: center;
}

.shelter_card, .dog_card, .cat_card, .adoption_card {
  border: 1px solid black;
  padding: 8px;
  border-radius: 16px;
  margin: 8px;
  max-width: 100px;
  min-height: 150px;
  justify-content: center;
  color: orange;
}

.dog_list {
  display: vertical;
}

.greeting {
  text-align: center;
  font-size: 50px;
  background-color: purple;
  height: 10vh;

  border-radius: 16px;
}

.animal-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-row-gap: 24px;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
  margin: auto;
  height: 80vh;
}
.animal-card {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: space-around;
  height: 90%;
  max-width: 100px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: royalblue;
}
.animal-image {
  height: 100vh;
  width: 100vh;
  max-height: 100px;
  max-width: 100px;
  border-radius: 16px;
}

.adopt-button {
  border-radius: 16px;
  background-color: rosybrown;
}