.App {
  background-color: white;
  background-size: cover;
  opacity: 0.9;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
};

.login-form {
  border: 1px solid black;
  border-radius: 5px;
};

.login-card {
  border: 1px solid black;
  border-radius: 5px;
}

.homescreen_header {
  font-style: oblique;
  background-color:orange;
}

.homescreen_about {
  min-height: 150px;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 8px;
}

.homescreen_cards {
  display: flex;
  justify-content: center;
}

.shelter_card, .dog_card, .cat_card, .adoption_card {
  border: 1px solid black;
  padding: 8px;
  border-radius: 16px;
  margin: 8px;
  max-width: 100px;
  min-height: 150px;
  justify-content: center;
  color: orange;
}

.dog_list {
  display: vertical;
}

.animal-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-row-gap: 24px;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  margin: auto;
}


.animal-card {
  /* display: flex; */
  margin: auto;
  flex-direction: column;
  align-items: space-between;
  max-height: 200px;
  max-width: 115px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px;
}

.animal-image {
  max-height: 100px;
  max-width: 100px
}
