.App {
  background-color: white;
  background-size: cover;
  opacity: 0.9;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
};

.login-form {
  border: 1px solid black;
  border-radius: 5px;
};

.login-card {
  border: 1px solid black;
  border-radius: 5px;
}

.homescreen_header {
  font-style: oblique;
}

.homescreen_about {
  min-height: 150px;
  max-width: 500px;
}

.homescreen_cards {
  display: flex;
  justify-content: center;
}

.shelter_card, .dog_card, .cat_card, .adoption_card {
  border: 1px solid black;
  padding: 8px;
  border-radius: 16px;
  margin: 8px;
  max-width: 100px;
  min-height: 150px;
  justify-content: center;
  color: orange;
}

